body {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   background: url(bg.png) repeat; /* Background pattern from subtlepatterns.com */
}


.page-header {
   margin-top: 0;
   padding-top: 30px;
   margin-bottom: 10px;
}
.page-header span {
   text-align: center;
   display: block;
   font-style: italic;
}
.page-header h1 {
   margin-top: 0;
}
.page-header h1 small {
   font-size: 0.4em;
}
.page-header .fa {
   margin-right: 0.25em;
   vertical-align: bottom;
}

.last-row .col-sm-10 {
   padding-bottom: 30px;
}
.last-row h2 {
   margin-top: 30px;
}
.last-item {
   display: inline-block;
}

ul {
   margin-bottom: 0;
}
li {
   font-size: 1.2em;
   margin-bottom: 0.25em;
   margin-left: 1em;
}
li.last-li {
   margin-bottom: 0;
}
li .fa {
   margin-right: 0.5em;
   font-size: 1.2em;
   width: 26px;
   text-align: center;
}
li img {
   height: 20px;
   margin: 0 12px 0 2px;
}
.std-list li {
   margin-left: 0;
}
.last-item li {
   font-size: 1.4em;
}

.std-list span {
   color: #dd550c;
}

.fa-github {
   color: #000;
}
.fa-wordpress {
   color: #21759b;
}
.fa-cc-stripe {
   color: #00afe1;
}
.fa-gitlab {
   color: #fc6d26;
}
.fa-linkedin {
   color: #0077b5;
}

.footer {
   font-size: 0.8em;
}
.footer .fa-heart {
   color: #DC143C;
}
.footer div {
   font-size: 1.25em;
}
.footer a {
   color: #666;
   border-bottom: 1px dashed #aaa;
   text-decoration: none !important;
}
.footer a:hover {
   color: #555;
   border-bottom: 1px dashed #888;
}

@media only screen and (min-width: 768px) {
   body {
      position: absolute;
      height: 100%;
      width: 100%;
   }
   .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .col-sm-10, .col-sm-5 {
      background-color: #fff;
   }
   .col-sm-10 {
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 4px 4px 0 0;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.075)
   }
   .first-row .col-sm-10 {
      margin-bottom: -1px;
   }
   .last-row .col-sm-10 {
      margin-top: -2px;
      border-radius: 0 0 4px 4px;
   }
   .col-sm-5 {
      padding-right: 30px;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.075);
   }
   .col-sm-5.col-lg-3.col-lg-offset-3 {
      padding-right: 15px;
      padding-left: 30px;
   }
   .footer {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
   }
}
@media only screen and (max-width: 767px) {
   .container {
      background-color: #fff;
      margin-bottom: 30px;
   }
   .last-row .col-sm-10 {
      border-radius: 0 0 4px 4px;
   }
   .col-sm-10, .col-sm-5 {
      text-align: center;
   }
   ul {
      display: inline-block;
      text-align: left;
   }
}
